html, body {
  font-family: -apple-system, BlinkMacSystemFont,'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b0c13;
  color: white;
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button,input[type="button"], input[type="submit"] {
  color: white;
  border-radius: 5;
  background-color: #0b0c13;
  font-family: 'Roboto';
  border: 1px solid;
}
button:hover,input[type="button"]:hover, input[type="submit"]:hover {
  padding: 5px;
  transition: all .2s ease;
  border: 2px solid #14b37d;
}

.visible {
  border: 2px solid #14b37d;
}

.notvisible {
  border: 2px solid #ff5f56;
}

.guessed {
  margin: 4px;
  background-color: rgb(0,0,0,0.1);
  border: 3px solid #14b37d;
}

.notguessed {
  margin: 4px;
  background-color: rgb(0,0,0,0.1);
  color:  white;
  border: 3px solid #ff5f56;
}

.frame {
  display: flex;
  justify-content: center;
  height: 65vh;
  margin: 0;
}

.wordContainer {
  border: 2px solid white;  
  width: 17.5vw;
  float:left;
  margin: 1vh 1vw;
  height: 30vh;
  font-family: 'Roboto';
}


.word {
  text-align: center;
}

.wordHeader {
  text-align: center;
}

.playerGuess {
  margin: 0;
  /*border: 2px solid #3a3568;*/
}

.removeWord {
  display: flex;
  justify-content: center;
}
.timerDiv {
  text-align: center;
  width: fit-content;
  margin: auto;
  height: 10vh;
}

.timer {
  background-color:#0b0c13;
  border: 3px solid #ff0062;
  border-radius: 12%;
  color: ##ff5f56;
  padding: 4px;
  font-size: 35px;
  font-family:'Roboto';
}

.title {
  color: #ff0062;
  text-align: center;
  font-size: 75px;
  height: 10vh;
  margin: 0;
}
input {
  background-color: #090a0f;
  border: 2px solid white;
  color: white;
  font-family:'Roboto';
}
table {
  padding: 5px;
}
.wordMenu {
padding: 5px;
}
.wordTable, .wordMenu {
  width: 100%;
}

.score {
  bottom: 0;
  height: 10vh;
  width: 100%;
}

.playerScore {
  border: 2px solid #3a3568;
  float:left;
  height: 100%;
  margin: 0;
}

.playerName {
  text-align: center;
  margin: 8px;
  font-weight: bold;
  font-size: 20px;
}

.pScore {
  text-align: center;
  font-weight: 1000;
  font-family:'Roboto';
}